# .env file
OLLAMA_HOST=http://ollama:11434

# Hugging Face configuration (required for model downloads)
HF_TOKEN=

# AWS S3 configuration (optional)
AWS_REGION=us-east-1
AWS_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_STORAGE_BUCKET=
